/* FORMAT */
::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
    background: transparent;
    color: transparent;
    width: 0;
    display: none;
    visibility: hidden;
    z-index: -10;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
p {margin:0}
select { border: none;outline: none;}
* {
    user-select: none;
    font-family: 'Ubuntu Mono';
}
.icon {
    font-family: icons;
    font-size: 14px;
}
a { text-decoration: none}
button, iframe {background: none;border:none}
input[type="text"] {
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
}
input[type="text"]::placeholder {
    font-size: 14px;
}
body, header, footer, section, .popup {
    margin: 0 auto;
    max-width: 640px;
    left: 0;
    right: 0;
}

/* STYLE */
body {
    padding-top: 150px;
    padding-bottom: 66px;
    overscroll-behavior-y: contain;
    transition: 0.2s;
    min-width: 320px;
}
/* header */
header {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
header .main  {
    position: relative;
    width: calc(100% - 24px);
    margin: 0 auto;
}
header #menu {
    font-size: 22px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    left: -4px;
}
header #logo {
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    position: absolute;
    left: 22px;
    height: 46px;
    width: 46px;
    margin: auto;
    top: 0;
    bottom: 0;
}
header #nav {
    position: absolute;
    width: calc(100% - 22px - 46px - 12px);
    height: 100%;
    right: 0;
}
header #search {
    position: absolute;
    left: calc(38px + 12px);
    width: calc(100% - 38px - 38px - 38px - 12px - 12px - 12px);
    height: 38px;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    overflow: hidden;
}
#search button {
    width: 38px;
    height: 100%;
    position: absolute;
}
#search button.i_close {
    position: absolute;
    right: 4px;
    height: calc(100% - 8px);
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    width: 30px;
}
#search input {
    height: 100%;
    width: 100%;
    padding-left: 38px;
    padding-right: 40px;
    font-size: 16px;
    background: transparent;
    border-radius: 8px;
}
header .button {
    position: absolute;
    height: 38px;
    width: 38px;
    margin: auto;
    top: 0;
    bottom: 0;
    text-align: center;
    border-radius: 8px;
    box-sizing: border-box;
}
.button.add {
    left: 0;
}
.button.share {
    right: calc(38px + 12px);
}
.button.refresh {
    right: 0;
}
/* menu */
.menu {
    position: fixed;
    z-index: 3;
    height: 100vh;
    top: 0;
    left: -240px;
    box-sizing: border-box;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    width: 240px;
    transition: 0.2s;
}
.menu.expand {
    left: 0;
}
.menu > .title {
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding-left: 16px;
    box-sizing: border-box;
    position: relative;
}
.menu .title button {
    position: absolute;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 48px;
    font-size: 22px;
}
.menu .op .title .sub {
    font-size: 14px;
    padding-left: 18px;
}
.menu > .content {
    padding: 0 24px;
}
.menu .op {
    padding: 16px 0;
}
.menu .op .title {
    padding-bottom: 12px;
}
.menu .op .content {
    padding: 0 16px;
}
.menu .op span {
    padding-right: 6px;
}
.menu .nota {
    padding: 8px 0;
}
/* section */
section {
    margin: 0 16px;
}
section .list {
    width: 100%;
    position: fixed;
    font-size: 12.5px;
    z-index: 2;
}
section .head.list {
    top: 60px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
footer {
    line-height: 48px;
    font-size: 14px;
    border-top-left-radius: 15px;
    overflow: hidden;
    border-top-right-radius: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 48px;
    z-index: 2;
}
footer div {
    width: 50%;
    text-align: center;
    line-height: 48px;
    float: left;
}
footer .info {
    width: calc(50% - 48px);
    position: absolute;
    text-align: center;
    box-sizing: border-box;
}
footer .info span {
    font-size: 16px;
}
.info.left {
    left: 0;
    padding-left: 15px;
}
.info.right {
    right: 0;
    padding-right: 15px;
}
footer .button {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 48px;
    width: 102px;
    padding: 0;
}
section .total, .itens {
    font-size: 14px;
}
section .obs, .itens {
    font-size: 14px;
}
/* section > item */
.item {
    height: 42px;
    width: 100%;
    margin: 8px 0;
    position: relative;
}
.item .line {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 42px;
    font-size: 14px;
    border-radius: 12px;
}
.line.hover {
    z-index: 1;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);
}
.item > line.longClicked .quant input::placeholder {
    color: transparent;
}
header .list .labels {
    width: 100%;
    height: 38px;
    line-height: 38px;
}
header .main {
    height: 60px;
}
header .list {
    height: 78px;
    font-size: 14px;
}
header .list .labels div {
    height: 100%;
    float: left;
    font-size: 12px;
    letter-spacing: 1px;
}
.item .line div {
    height: 100%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.discr {
    width: 34%;
    text-align: left;
    padding-left: 16px;
    box-sizing: border-box;
}
.quant, .punit, .valor, .value {
    width: 22%;
    text-align: center;
    position: relative;
}
.quant input, .punit input{
    position: absolute;
    left: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    background: none;
    transition: 0.1s;
}
.quant input:focus, .punit input:focus {
    transform: scale(1.7);
    height: 22px;
    border-radius: 9px;
    background: transparent !important;
}
.item .discr input {
    padding-left: 10px;
    box-sizing: border-box;
}
/* popups */
.popup {
    position: fixed;
    top: 0;
    height: fit-content;
    padding-top: 48px;
    z-index: 3;
    display: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.popup .head {
    position: absolute;
    top: 0;
    height: 48px;
    width: 100%;
    line-height: 48px;
    padding: 0 16px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 15px;
}
.popup .head button {
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 8px;
    right: 16px;
    margin: auto;
    top: 0;
    bottom: 0;
    background: none;
    font-size: 22px;
}
.popup .content {
    position: relative;
    padding: 24px;
    overflow: auto;
}
.popup.share .content .block {
    position: relative;
    overflow: hidden;
}
.content .block div {
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
    float: left;
    width: calc(50% - 16px);
    margin: 8px;
    font-size: 14px;
    position: relative;
}
.block div icon {
    margin: 10px 0;
}
.none {
    padding: 14px;
    box-sizing: border-box;
    width: fit-content;
    margin: 16px auto;
    text-align: center;
    border-radius: 28px;
}
.popup input[type="text"] {
    width: 100%;
    height: 38px;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 16px;
}
.popup.share
    input[type="text"] {
    width: 100%;
}
.popup.concluir .nome_do_cliente[type="text"],
.popup.share .hidden .nome_do_cliente {
    text-transform: capitalize;
}
.popup.update .attention {
    display: block;
    background: #FF5722;
    border-radius: 15px;
    padding: 12px;
    text-align: center;
}
.popup.update .updateLater {
    background: transparent !important;
    left: 16px;
    border: 2px solid;
    width: fit-content;
    padding: 0 16px;
}
.popup .foot {
    width: 100%;
    height: 73px;
    padding: 16px;
    box-sizing: border-box;
    border-top: 1px solid;
}
.popup .foot button {
    border: none;
    height: 44px;
    border-radius: 12px;
    width: 43px;
    font-weight: 700;
    box-sizing: border-box;
    position: absolute;
    right: 16px;
}
.none {
    background-color: #54a634;
}

/* html2canvas */
.picIt * {
    color: #000000;
}
.picIt {
    width: 280px;
    padding-bottom: 20px;
    position: absolute;
    left: -100vh;
    background-color: #ffffff;
    font-family: 'Ubuntu Mono';
}
.picIt.share {
    width: 305px;
    padding: 20px;
    background-color: #fffeea;
}
.picIt .header, .copy, .footer p, .footer .total, .item .line div, .item .line div input[type="text"] {
    text-align: center;
}
.picIt .header div, .footer, .item .discr {
    text-align: left !important;
}
.item .discr, .head.list div.left {
    width: 34%;
}
.picIt .header {
    height: 80px;
    margin-top: 7px;
    margin-bottom: 16px;
    position: relative;
}
.picIt .header .pic {
    width: 80px;
    height: 80px;
    position: relative;
}
.picIt .header .logo {
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.picIt .header .data {
    width: calc(100% - 80px - 8px);
    font-size: 16px;
    position: absolute;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: fit-content;
    line-height: 17px;
}
.footer {
    margin-top: 8px;
}
.footer > div:first-child {
    font-size: 18px;
    margin-bottom: 12px;
}
.footer #qr-code-container {
    width: fit-content;
    margin: 0 auto;
    padding: 8px 0;
}
tr.head {
    font-weight: 700;
    font-size: 14px;
}
#tabela {
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#tabela tr {
    border-bottom: 1px solid black;
}
#tabela td {
    padding: 2.5px 0;
}
tr .left {
    text-align: left;
}
tr .right {
    text-align: right;
}
hr {
    border-top: solid 2px black;
}
.copy {
    font-size: 17px;
    padding: 5px 0;
}
/* + */
button.concluir {
    position: fixed;
    margin: auto;
    right: 0;
    left: 0;
    height: 58px;
    width: 58px;
    bottom: 8px;
    border-radius: 50%;
    z-index: 2;
    font-size: 20px;
    box-sizing: border-box;
    box-shadow: 2px -3px 9px 0px rgb(255 255 255 / 18%);
    color: #ffffff;
    transition: 0.2s;
    border: 6px solid;
}
button.addItem.off, button.concluir.off {
    box-shadow: none;
    filter: grayscale(100%);
}
.aviso {
    position: fixed;
    font-size: 14px;
    z-index: 3;
    transition: 0.1s;
    top: 16px;
    left: 16px;
    border-radius: 16px;
    box-sizing: border-box;
    width: fit-content;
    padding: 4px;
}
.aviso button {
    background: #ffffff;
    width: 34px;
    height: 34px;
    border-radius: 12px;
}
.aviso span {
    display: none;
    padding: 0 12px;
}
#noItens {
    text-align: center;
    font-size: 15px;
    position: absolute;
    top: 162px;
    width: 100%;
    z-index: -1;
    left: 0;
}
#blur {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #000000;
}
#unitType {
    text-transform: lowercase;
}
.fields.first {
    margin-bottom: 12px;
}
.fields .sectitle {
    margin-bottom: 8px;
}
input[type="checkbox"] {
    display: none;
}t[type="checkbox"] + label {
    position: relative;
    padding-left: calc(26px + 12px);
    cursor: pointer;
    display: inline-block;
    line-height: 28px;
}
input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 28px;
    height: 28px;
    border: 2px solid;
    border-radius: 8px;
    box-sizing: border-box;
}
input[type="checkbox"]:checked + label:before {
    content: "f";
    font-family: 'icons';
    text-align: center;
}
.popup label {
    font-size: 14px;
    margin-left: 8px;
    margin-top: 12px;
}
.click {
    overflow: hidden;
}
.click:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 65%;
    padding-top: 50%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
    transform: translateX(-50%) translateY(-50%) scale(0.2);
    transition: opacity 500ms, -webkit-transform 500ms;
    transition: opacity 500ms, transform 500ms;
    transition: opacity 500ms, transform 500ms, -webkit-transform 500ms;
    transition-delay: 0, 100ms;
}
.click:active::after  {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.1);
    transform: translateX(-50%) translateY(-50%) scale(1.1);
    transition: opacity 100ms, -webkit-transform 100ms;
    transition: opacity 100ms, transform 100ms;
    transition: opacity 100ms, transform 100ms, -webkit-transform 100ms;
    transition-delay: 0s;
    opacity: 0.1;
}
.warning {
    border-radius: 12px;
    background: #ffffff;
    position: relative;
    height: fit-content;
    margin: 16px;
    padding: 8px;
}
.warning > button {
    width: 38px;
    height: 38px;
    color: #ffffff !important;
    font-size: 16px;
    background: #FF9800;
    border-radius: 12px;
}
.warning .content {
    width: calc(100% - 107px);
    font-size: 14px;
    margin: auto;
    height: fit-content;
    bottom: 0;
    top: 0;
    position: absolute;
    left: 54px;
    color: #000000;
}
.warning .content span {
    color: #000;
}
.warning .button {
    background: #8BC34A;
    border-radius: 12px;
    width: fit-content;
    font-size: 12px;
    position: absolute;
    right: 7px;
    margin: auto;
    bottom: 0;
    top: 0;
    height: fit-content;
    border: 3px solid #212121;
}
.warning .button div {
    float: left;
    color: #000;
    text-align: center;
    width: 50%;
    height: fit-content;
}
.warning .button button {
    color: #000000;
    font-size: 18px;
}
#copypix {
    padding: 6px 9px;
}
#update {
    padding: 12px 6px;
    font-size: 12px;
    text-transform: uppercase;
}
.categories {
    height: 34px;
    overflow: scroll;
    position: relative;
    margin-left: -12px;
    width: calc(100% + 12px);
    padding: 8px;
}
#categories {
    padding: 0 12px;
}
.categories > div {
    width: max-content;
    height: 100%;
    margin: auto;
}
.categories > div .category {
    float: left;
    padding: 0 10px;
    margin: 0 4px;
    border-radius: 20px;
    height: 100%;
    line-height: 32px;
}
#category {
    padding: 0 10px;
    border-radius: 8px;
    height: 38px;
    font-size: 14px;
    width: 100%;
}
#category option {
    padding: 10px;
    background-color: #fff;
    color: #000;
    outline: none;
}
.fields {
    width: calc(100% - 16px);
    position: relative;
    margin: auto;
    overflow: hidden;
}
.fields.first .left {
    width: 60%;
    float: left;
}
.fields .left {
    float: left;
}
.fields > div {
    position: relative;
    width: 100%;
}
.fields .middle {
    width: 50%;
}
.fields.first .right {
    width: calc(40% - 12px);
}
.fields .right {
    float: right;
    width: calc(50% - 12px);
}
#categories .category.active {
    border: 2px solid;
    box-sizing: border-box;
    line-height: 31px;
}
.item .line.longClicked, .aviso {
    background-color: #b26c67;
}
.popup,
.aviso {
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
}
.popup input:focus, .popup select:focus, .line.hover, header #search input:focus {
    border: 2px solid;
    box-sizing: border-box;
}
#checklist {
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
#checklist tr {
    border-bottom: 2px solid;
}
#checklist td {
    padding: 6px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
}
footer .info button {
    font-size: 18px;
}
.theme {
    clear: both;
    height: 32px;
    line-height: 32px;
    position: relative;
    padding-left: 24px;
}
.theme .radio {
    width: 18px;
    height: 18px;
    float: left;
    border-radius: 50%;
    margin-right: 8px;
    border: 2px solid;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
}
.radio.on div {
    width: 8px;
    height: 8px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    border: 2px solid;
    box-sizing: border-box;
}
.op .title .main:after {
    content: ' (em breve)';
    font-size: 12px;
    opacity: 0.6;
}
/* THEMES */
header, section .line,
.popup,
.menu,
.item .line.active,
body.dark-mode .content .block div,
body.dark-mode .click:after {
    background-color: #ffffff;
}
#search button.icon.i_close,
#categories .category,
header .main #nav > button,
.line.active input,
.popup .foot button,
.item .line.longClicked,
.content .block div,
.aviso,
body.dark-mode #categories .category,
body.dark-mode header .main #nav > button,
body.dark-mode section .line,
.line.active,
body.dark-mode .line input,
body.dark-mode footer .info span,
body.dark-mode #search input,
body.dark-mode #search button.icon.i_close,
body.dark-mode .fields .sectitle,
body.dark-mode .popup .head,
body.dark-mode .popup .head button,
body.dark-mode .popup input,
body.dark-mode .popup .foot button,
body.dark-mode #category,
body.dark-mode label,
body.dark-mode footer .info button,
body.dark-mode #checklist,
.content .block div button,
body.dark-mode #checklist tr,
body.dark-mode .menu,
body.dark-mode .menu .title button,
body.dark-mode header #menu {
    color: #ffffff;
}
body,
.popup input,
select,
.popup .head,
.menu > .title {
    background-color: #ededed;
}
.popup .foot {
    border-color: #bdbdbd;
}
footer .info,
header .list .labels,
.categories,
header #search {
    background-color: #cbcbcb;
}
footer svg {
    fill: #cbcbcb;
}
#categories .category,
#search button.icon.i_close,
.content .block div {
    background-color: #999999;
}
header .main #nav > button {
    background-color: #656565;
}
header .labels div,
#search button.i_search,
footer .info,
.popup input::placeholder,
.menu .op .title .sub,
#noItens {
    color: #626262;
}
section .line,
#search input,
.fields .sectitle,
footer .info span,
.popup input,
.line input,
.popup .head,
.popup .head button,
body.dark-mode .content .block div,
body.dark-mode .content .block div button,
#category,
footer .info button,
#checklist,
header #menu,
.menu,
#checklist tr {
    color: #212121;
}
#categories .category.active,
.line.active,
header #search input:focus,
#checklist,
#checklist tr {
    border-color: #212121;
}
#blur {
    opacity: 0.3;
}

/* dark mode */
.click:after,
body.dark-mode,
body.dark-mode .popup input,
body.dark-mode select,
body.dark-mode header #search {
    background-color: #111111;
}
body.dark-mode footer svg {
    fill: #212121;
}
body.dark-mode footer .info,
body.dark-mode .popup,
body.dark-mode .categories,
body.dark-mode header .list .labels {
    background-color: #212121;
}
body.dark-mode header,
body.dark-mode #categories .category,
body.dark-mode #search button.icon.i_close,
body.dark-mode .popup .head,
body.dark-mode .line.active,
body.dark-mode .menu,
body.dark-mode section .line {
    background-color: #313131;
}
body.dark-mode .menu > .title {
    background-color: #414141;
}
body.dark-mode .popup .foot {
    border-color: #414141;
}
body.dark-mode header .main #nav > button {
    background-color: #515151;
}
body.dark-mode header .labels div,
body.dark-mode #search button.i_search,
body.dark-mode footer .info,
body.dark-mode .menu .op .title .sub,
body.dark-mode .popup input::placeholder {
    color: #999999;
}
body.dark-mode #categories .category.active,
body.dark-mode #checklist,
body.dark-mode #checklist tr,
body.dark-mode header #search input:focus {
    border-color: #ffffff;
}
body.dark-mode #blur {
    opacity: 0.5;
}

/* FONTS */

/* icon */
@font-face {
    font-family: "icons";
    src: url("fonts/icons/icons.woff2");
    src: url("fonts/icons/icons.ttf") format("truetype"),
         url("fonts/icons/icons.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
      font-family: "icons";
      src: url("fonts/icons/icons.svg") format("svg");
      }
  }
  
  [class^="icon"]:before, [class*="icon"]:before,
  [class^="icon"]:after, [class*="icon"]:after {   
      font-family: icons;
      font-style: normal;
  }
  
  .i_note:before { content: "a"; }
  .i_print:before { content: "b"; }
  .i_plus:before { content: "c"; }
  .i_share:before { content: "d"; }
  .i_refresh:before { content: "e"; }
  .i_check:before { content: "f"; }
  .i_receipt:before { content: "g"; }
  .i_copy:before { content: "h"; }
  .i_whatsapp:before { content: "i"; }
  .i_heart:before { content: "j"; }
  .i_scan:before { content: "k"; }
  .i_user:before { content: "l"; }
  .i_clock:before { content: "m"; }
  .i_search:before { content: "n"; }
  .i_close:before { content: "o"; }
  .i_warning:before { content: "p"; }
  .i_list:before { content: "q"; }
  .i_menu:before { content: "r"; }
  .i_system:before { content: "s"; }
  .i_themes:before { content: "t"; }
  .i_sun:before { content: "u"; }
  .i_moon:before { content: "v"; }
  
  /* Ubuntu Mono */
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/UbuntuMono/1.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/UbuntuMono/2.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/UbuntuMono/3.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/UbuntuMono/4.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/UbuntuMono/5.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/UbuntuMono/6.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  